@import "../../assets/styles/constants.scss";

:host {
  height: 100vh;

  .max-width {
    max-width: 1440px;
  }

  main {
    margin-bottom: 80px !important;

    .btn-logout {
      border-radius: 50%;
      font-size: 24px;
      height: 32px;
      width: 32px;
    }

    .bg-message {
      background-color: $lightBlack;
      border-radius: 8px;
    }

    .date-image-container {
      width: 188px;
    }

    .fs-40 {
      font-size: 40px;
    }

    .fs-80 {
      font-size: 80px;
    }
  }
}
