<main>
  <div class="max-width m-auto py-3">
    <div class="align-items-center d-flex justify-content-between">
      <h3 class="mb-3 text-white">
        <i class="fa-brands fa-angular"></i>
        mIRC
      </h3>
      <button
        class="btn-std btn-red btn-logout float-end mb-3"
        (click)="handleLogOut()"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    @for (message of chats(); track message) {
    <div class="bg-message d-flex my-2 py-3 gap-4 w-100">
      <div
        class="date-image-container d-flex flex-column gap-2 align-items-center"
      >
        <app-avatar [src]="message?.users?.avatar_url" />
      </div>
      <app-message
        [date]="message?.created_at"
        [message]="message?.text"
        [name]="message?.users?.full_name"
      />
    </div>
    } @empty {
    <div class="align-items-center d-flex flex-column gap-4 my-2 py-2">
      <i class="fa-solid fa-face-frown text-white fs-80"></i>
      <span class="fs-40 text-white">Say something!</span>
    </div>
    }
  </div>
</main>
<app-message-sender [chatForm]="chatForm" (onSubmit)="onSubmit($event)" />
