@import "../../assets/styles/constants.scss";

:host {
  bottom: 0;
  position: fixed;
  width: 100%;

  .btn-send {
    border-radius: 50%;
    font-size: 24px;
    height: 48px;
    width: 48px;
  }

  .form-bg {
    background-color: $black;
  }

  .input-div {
    max-width: 1440px;

    .input-text {
      background-color: $black;
      border-radius: 8px;
      border: 1px solid $silver;
      color: $white;
      padding: 8px;

      &:active,
      &:focus {
        border-color: $darkBlue;
        outline: none;
      }
    }
  }
}
