$black: #252627;
$lightBlack: #37383a;
$blue: #308bc4;
$darkBlue: #5679a1;
$darkRed: #bb2123;
$red: #ee2e31;
$silver: #c1c1c1;
$white: #fdfffc;

$font1: rgba(#fff, 0.96);
$font2: rgba(#fff, 0.67);
$font3: rgba(#fff, 0.45);

$smallLength1: 0.25rem; // 4px
$smallLength2: 0.5rem; // 8px
$smallLength3: 0.75rem; // 12px

$mediumLength1: 1rem; // 16px
$mediumLength2: 1.25rem; // 20px
$mediumLength3: 1.5rem; // 24px

$largeLength1: 2rem; // 32px
$largeLength2: 3rem; // 48px
$largeLength3: 4rem; // 64px
