<section
  class="align-items-center d-flex justify-content-center m-auto vh-100 w-25"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a
          class="btn btn-lg btn-github btn-block btn-outline d-flex align-items-center justify-content-center gap-1"
          (click)="handleAuth()"
        >
          <img
            src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png"
            width="32"
          />
          <span>Login Using Github</span>
        </a>
      </div>
    </div>
  </div>
</section>
