@import "../../assets/styles/constants.scss";

.btn {
  border-radius: 18px;
  cursor: pointer;
  font-size: $mediumLength1;
  padding: $smallLength2 $mediumLength1;
}

.btn-github {
  background-color: $white;
  border-color: $white;
  font-size: $mediumLength3;
  padding: $smallLength2;
  width: 160px;

  &:active,
  &:hover {
    background-color: $white !important;
    border-color: $white !important;
  }
}
