<section
  class="align-items-center d-flex justify-content-center m-auto vh-100 w-25"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a
          class="btn btn-lg btn-github btn-block btn-outline d-flex align-items-center justify-content-center gap-2"
          (click)="handleAuth()"
        >
          <img
            src="https://banner2.cleanpng.com/20180326/gxq/kisspng-github-computer-icons-icon-design-github-5ab8a31e334e73.4114704215220498222102.jpg"
            width="32"
          />
          <span>Login Using Github</span>
        </a>
      </div>
    </div>
  </div>
</section>
